<h1>До свидания!</h1>
<hr>
<p>
    Очень приятно, что вы нас навестили.
</p>
<hr>
<p>
    Сказать <a href="/say/hello">привет</a>!
</p>
<p>
    Сказать <%= link_to "привет", "/say/hello" %> еще раз.
</p>
<p>
    Сказать <%= link_to "привет", say_hello_path %> еще раз и через path.
</p>
